/* assets/styles/app.css */
@import './axioms.css';

html, body {
  height: 100%;
}

body {
  font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
  color: var(--ax-blue);
  background: #fff;
}
